<template>
  <div class="row">
    <div class="row">
        <div class="col-md-3">
            <router-link :to="{ name: 'recipes'}">All recipes</router-link>
            <br><br><br>
            <h2>Składniki</h2>
            <ul>
              <li v-for="ingredient in recipe.ingredients" v-bind:key="ingredient.element_name">
                  {{ ingredient.element_name }}: {{ ingredient.quantity_name }} {{ ingredient.amount }}
              </li>
            </ul>
        </div>
        <div class="col-md-6">
            <h1>{{ recipe.name }}</h1>
            <img :src="recipe.image.thumbnail_detail" />
            {{ recipe.content }}

            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div v-for="section in recipe.sections" v-bind:key="section.title">
                      <h3>{{ section.title }}</h3>
                        <img :src="section.image.thumbnail_detail" /><br />
                      {{ section.content }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            Czas przygotowania: {{ recipe.preparation_time }} minut
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 offset-md-9">
            Autor: {{ recipe.author_name }}
        </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
axios.defaults.baseURL = process.env.VUE_APP_API_URL

export default {
  props: ['id'],
  name: 'RecipeDetail',
  created() {
    axios.get('/api/recipes/' + this.id + '/').then((response) => {
        this.recipe = response.data;
    });
  },

  data: function() {
    return {
      recipe: {}
    };
  }
}
</script>
