<template>
<div id="recipes">
  <h1>Recipes</h1>
  <multiselect
    v-model="selectedElements"
    :options="allElements"
    :close-on-select="true"
    :clear-on-select="false"
    :hide-selected="false"
    :preserve-search="true"
    :multiple="true"
    placeholder="Choose ingredient"
    label="name"
    track-by="slug"
    :preselect-first="false"
    id="example"
    @select="selectElement"
    @remove="removeElement"
  >
  </multiselect>
  <ul>
    <li
      v-for="recipe in visibleRecipes"
      :key="recipe.id"
      >
      <router-link :to="{ name: 'recipe', params: { slug: recipe.slug, id: recipe.id }}"><div class="image"><img :src="recipe.image.thumbnail_list" /></div><div class="headline">{{ recipe.name }}</div></router-link>
    </li>
  </ul>
</div>
</template>

<script>
import Vue from 'vue';
import axios from 'axios';
import Multiselect from 'vue-multiselect';
axios.defaults.baseURL = process.env.VUE_APP_API_URL

export default {
  name: 'RecipeList',
  components: { Multiselect },
  props: {
    msg: String
  },
  created() {
    axios.get('/api/recipes/').then((response) => {
        this.recipes = response.data;
    return axios.get('/api/elements/');
    }).then((response) => {
        this.allElements = response.data;
    }).then(() => {
        this.showAll();
    });
  },
  
  data: function() {
    return {
      recipes: [],
      allElements: [],
      selectedElements: []
    };
  },
  computed: {
    visibleRecipes: function () {
      return this.recipes.filter(recipe => recipe.visible);
    }
  },
  methods: {
      showAll() {
          // display all recipes
          for (var j = 0; j < this.recipes.length; j++) {
              Vue.set(this.recipes[j], 'visible', true);
          }
      },
      selectElement(element) {
          var recipesLength = this.recipes.length;

          for (var j = 0; j < recipesLength; j++) {
              if (!(this.recipes[j]['element_slugs'].indexOf(element.slug) > -1)) {
                  // element not found in the recipe, hide this recipe
                  Vue.set(this.recipes[j], 'visible', false);
              }
          }
      },
      removeElement(element) {
          var recipesLength = this.recipes.length;
          var selectedElementsLength = this.selectedElements.length;
          var hasAllElements;

          for (var j = 0; j < recipesLength; j++) {
              if (this.recipes[j].visible) {
                  // already visible, continue
                  continue;
              }
              hasAllElements = true;
              for (var i = 0; i < selectedElementsLength; i++) {
                  if (this.selectedElements[i].slug == element.slug) {
                      // removed right now, don't check if present in the recipe
                      continue;
                  }
                  if (!(this.recipes[j]['element_slugs'].indexOf(this.selectedElements[i].slug) > -1)) {
                      // element not found in the recipe, don't switch the visible flag
                      hasAllElements = false;
                      break;
                  }
              }
              if (hasAllElements) {
                  Vue.set(this.recipes[j], 'visible', true);
              }
          }
      }
    }
}
</script>

<style src="./RecipeList.css"></style>
